fieldset {
    font-family: 'Josefin Slab', 'Times';
    width: 28%;
    margin: auto;
    margin-top: 8%;
    padding-left: 10%;
}

#register {
    display: none;
}

label {
    display: inline-block;
    width: 130px;
}

button {
    display: block;
    margin: -37px 80px 0;
}